body {
    margin: 0;
    background: #273549;
    font-family: 'Inter', sans-serif;
}

#main {
    width: 550px;
    height: 550px;
    background: #ECFDF5;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(16, 185, 129, 0.8);
}

h1 {
    margin: 0;
}
.color-h1 {
    color: #10B981;
}

.tag-line {
    color: #6B7280;
    margin: 10px 0 50px;
    font-size: 20px;
    line-height: 28px;
}

.input-label {
    color: #6B7280;
    margin: 0;
}

#pwd-len {
    width: 100px;
    border: none;
    color: #10B981;
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 20px;
    margin-top: 4px;
    border: 1px solid #10B981;
}

button {
    background: #10B981;
    border:none;
    color: #ffffff;
    width: 191px;
    padding: 10px;
    border-radius: 8px; 
    margin-bottom: 40px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

hr {
    border: 1px solid #D5D4D8;
    width: 450px;
    margin: 0;
}

#pwd-container {
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}

#pwd-container p {
    height: 20px;
}

#pwd1, #pwd2 {
    width: 250px;
    background: #273549;
    padding: 10px 30px;
    text-align: center;
    color: #5DEF92;
    border-radius: 6px;
    gap: 30px;
    margin: 40px 0;
    white-space: nowrap;
    cursor: pointer;
}

#pwd1 {
    margin-right: 30px;
    
}




